<% include ../standards/header %>
<% include ../standards/navigation.ejs %>

<div class="container">


    <h1> <%= title %></h1>
    <hr/>
    <div class="col-md-12">
        <h1>Aufgaben</h1>

        <hr/>

        <% include task_add %>

        <hr/>

        <h2>Meine Aufgaben</h2>
        <table class="table table-striped tablesorter" id="table1">
            <thead>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Deadline</th>
            <th>User</th>
            <th>Erledigt</th>
            </thead>
            <tbody>
            <% for(var i = 0; i < personalTasks.length; i++) { %>
            <tr>
                <td><%= personalTasks[i].name %></td>
                <td><%= personalTasks[i].description %></td>
                <td><%= personalTasks[i].deadline %></td>
                <td><%= personalTasks[i].editor %></td>

                <% if (personalTasks[i].done == 0) { %>
                <td><a class="doit" data-task="<%= personalTasks[i].id %>"><span class="glyphicon glyphicon-ok tableSpawn"
                                                                                 data-toggle="tooltip"
                                                                                 title="Task abschließen"
                                                                                 data-original-title="Task abschließen"></span></a>
                </td>
                <% } %>

                <% if (personalTasks[i].done == 1) { %>
                <td><span class="glyphicon glyphicon-ok done" data-toggle="tooltip"
                          data-original-title="Task abgeschlossen"
                          title="Task abgeschlossen"></span></td>
                <% } %>

            </tr>
            <% } %>
            </tbody>
        </table>
        <h2>Alle Aufgaben</h2>
        <table class="table table-striped tablesorter" id="table2">
            <thead>
            <th class="header">Name</th>
            <th class="header">Beschreibung</th>
            <th class="header">Deadline</th>
            <th class="header">User</th>
            <th class="header">Erledigt</th>
            <th>Übernehmen</th>
            </thead>
            <tbody>
            <% for(var i = 0; i < tasks.length; i++) { %>
            <tr>
                <td><%= tasks[i].name %></td>
                <td><%= tasks[i].description %></td>
                <td><%= tasks[i].deadline %></td>
                <td><%= tasks[i].editor %></td>
                <% if (tasks[i].done == 0) { %>
                <td><span class="glyphicon glyphicon-ok notdone" data-toggle="tooltip" title="Task abgeschlossen"
                          data-original-title="Task abgeschlossen"></span></td>

                <td><span class="glyphicon glyphicon-pushpin get_task tableSpawn" data-toggle="tooltip" title="Task übernehmen"
                          data-original-title="Task übernehmen" data-task="<%= tasks[i].id %>"></span></td>
                <% } %>

                <% if (tasks[i].done == 1) { %>
                <td><span class="glyphicon glyphicon-ok done" data-toggle="tooltip" title="Task nicht abgeschlossen"
                          data-original-title="Task nicht abgeschlossen"></span></td>
                <td></td>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<script>

    $('.get_task').click(function(){
        var task = $ (this).data ('task');
        $.ajax ({
            url: 'http://localhost:3001/task/get/' + task, // url where to submit the request
            type: "PUT",
            success: function (result) {
                location.reload ();
            },
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
            }
        })
    });

    $ ('.doit').click (function () {
        var task = $ (this).data ('task');
        $.ajax ({

            url: 'http://localhost:3001/task/' + task, // url where to submit the request
            type: "PUT",
            success: function (result) {
                location.reload ();
            },
            error: function (xhr, resp, text) {
                $ ('#message').html (text);
            }
        })
    });

    $ (document).ready (function () {
                $ ("#table2").tablesorter ();
                $ ("#table1").tablesorter ();
            }
    );

</script>


<% include ../standards/footer %>